# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# Node
node_modules/
.env
.brasa-server.json

# Logs
*.log

# Filmes (não versionar)
assets/movies/

# Séries (não versionar)
assets/series/

# Séries infantis (não versionar)
assets/kids-series/

# Legendas (opcional)
assets/subtitles/

# Bancos de dados locais (caso existam)
*.db
*.sqlite
*.sqlite3

# Cache
.cache/
.tmp/

# Arquivos temporários
*.tmp
*.bak
assets/series/The Bear - 1ª temporada/
*.mp4
*.mkv
*.avi
*.mov
*.webm
