# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# Node
node_modules/
.env
.brasa-server.json

# Logs
*.log

# Mídias locais - não versionar
assets/movies/
assets/series/
assets/kids-series/
assets/subtitles/

# Vídeos - não versionar
*.mp4
*.mkv
*.avi
*.mov
*.webm

# Bancos de dados locais
*.db
*.sqlite
*.sqlite3

# Cache
.cache/
.tmp/

# Arquivos temporários
*.tmp
*.bak