.tv-player__actions{position:absolute;z-index:2;top:2rem;left:2rem;display:flex;gap:1rem}
.tv-episodes{display:flex;max-width:90vw;gap:.8rem;margin-top:2rem;overflow:auto;padding:.5rem}
.tv-episodes h2{flex:0 0 100%}
